In [ ]:
CREATE TABLE WomenCrimes (
    STATE_UT TEXT,
    DISTRICT TEXT,
    Year INT,
    Rape INT,
    Kidnapping_Abduction INT,
    Dowry_Deaths INT,
    Assault_on_women_with_intent_to_outrage_her_modesty INT,
    Insult_to_modesty_of_Women INT,
    Cruelty_by_Husband_or_his_Relatives INT,
    Importation_of_Girls_from_Foreign_Countries INT,
    Immoral_Traffic_(P)Act INT
);

COPY WomenCrimes FROM '/path/to/42_District_wise_crimes_committed_against_women_2001_2012.csv' DELIMITER ',' CSV HEADER;

In [ ]:
3.2

In [ ]:
SELECT STATE_UT, DISTRICT, Year, 
       MAX(Rape) AS Highest_Rapes, 
       MAX(Kidnapping_Abduction) AS Highest_Kidnappings
FROM WomenCrimes
GROUP BY STATE_UT, DISTRICT, Year;

In [ ]:
3.3

In [ ]:
SELECT STATE_UT, DISTRICT, Year, 
       MIN(Rape) AS Lowest_Rapes, 
       MIN(Kidnapping_Abduction) AS Lowest_Kidnappings
FROM WomenCrimes
GROUP BY STATE_UT, DISTRICT, Year;

In [ ]:
3.4

In [ ]:
CREATE TABLE CrimesAgainstST (
    STATE_UT TEXT,
    DISTRICT TEXT,
    Year INT,
    Murder INT,
    Attempt_to_Murder INT,
    Rape INT
);

COPY CrimesAgainstST FROM '/path/to/02_District_wise_crimes_committed_against_ST_2001_2012.csv' DELIMITER ',' CSV HEADER;

In [ ]:
3.5

In [ ]:
SELECT DISTRICT, MAX(Dacoity_Robbery) AS Highest_Dacoity_Robbery
FROM CrimesAgainstST
GROUP BY DISTRICT;

In [ ]:
3.6

In [ ]:
SELECT DISTRICT, MIN(Murder) AS Lowest_Murder
FROM CrimesAgainstST
GROUP BY DISTRICT;

In [ ]:
3.7

In [ ]:
SELECT STATE_UT, DISTRICT, Year, Murder
FROM CrimesAgainstST
ORDER BY DISTRICT, Year, Murder ASC;

In [ ]:
3.8.1

In [ ]:
CREATE TABLE IPCCrimes (
    STATE_UT TEXT,
    DISTRICT TEXT,
    Year INT,
    Murder INT,
    Attempt_to_Murder INT,
    Rape INT
);

COPY IPCCrimes FROM '/path/to/01_District_wise_crimes_committed_IPC_2001_2012.csv' DELIMITER ',' CSV HEADER;

In [ ]:
3.8.2

In [ ]:
WITH RankedMurders AS (
    SELECT STATE_UT, DISTRICT, Year, Murder,
           ROW_NUMBER() OVER (PARTITION BY STATE_UT, Year ORDER BY Murder DESC) AS rn
    FROM IPCCrimes
)
SELECT STATE_UT, Year, DISTRICT, Murder
FROM RankedMurders
WHERE rn = 1;

In [ ]:
3.8.3

In [ ]:
import pandas as pd
import psycopg2


conn = psycopg2.connect(database="your_database", user="your_user", password="your_password", host="your_host", port="your_port")
cursor = conn.cursor()

cursor.execute("""
    WITH RankedMurders AS (
        SELECT STATE_UT, DISTRICT, Year, Murder,
               ROW_NUMBER() OVER (PARTITION BY STATE_UT, Year ORDER BY Murder DESC) AS rn
        FROM IPCCrimes
    )
    SELECT STATE_UT, Year, DISTRICT, Murder
    FROM RankedMurders
    WHERE rn = 1
""")
result = cursor.fetchall()

df = pd.DataFrame(result, columns=['STATE_UT', 'Year', 'DISTRICT', 'Murders'])

districts_appearing_3_or_more_years = df['DISTRICT'].value_counts()[df['DISTRICT'].value_counts() >= 3]

result_df = df[df['DISTRICT'].isin(districts_appearing_3_or_more_years.index)].sort_values(by=['Murders', 'Year'], ascending=[False, False])
print(result_df)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12, 8))
sns.barplot(x='Murders', y='DISTRICT', hue='STATE_UT', data=result_df)
plt.title('Districts with Highest Murders in Each State/UT (Appearing 3 or More Years)')
plt.xlabel('Murders')
plt.ylabel('District')
plt.show()